openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://tgw.symplified.biz'
paths:
  '/telegram/incoming/{botid}':
    post:
      summary: 'Receive a newly incoming request from telegram client'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_query:
                  type: object
                  description: ''
                  example: []
                  properties:
                    message:
                      type: object
                      description: ''
                      example: []
                      properties:
                        chat:
                          type: object
                          description: ''
                          example: []
                          properties:
                            id:
                              type: integer
                              description: ''
                              example: 12
                        from:
                          type: object
                          description: ''
                          example: []
                          properties:
                            username:
                              type: string
                              description: ''
                              example: doloremque
                        data:
                          type: string
                          description: ''
                          example: laborum
                message:
                  type: object
                  description: ''
                  example: []
                  properties:
                    chat:
                      type: object
                      description: ''
                      example: []
                      properties:
                        id:
                          type: integer
                          description: ''
                          example: 6
                    from:
                      type: object
                      description: ''
                      example: []
                      properties:
                        username:
                          type: string
                          description: ''
                          example: deleniti
                    data:
                      type: string
                      description: ''
                      example: sequi
      security: []
    parameters:
      -
        in: path
        name: botid
        description: ''
        example: similique
        required: true
        schema:
          type: string
  /telegram/callback/textmessage/push:
    post:
      summary: 'Sent a single text message to telegram client'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - iure
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: et
                subTitle:
                  type: string
                  description: ''
                  example: blanditiis
                message:
                  type: string
                  description: ''
                  example: molestias
                refId:
                  type: string
                  description: ''
                  example: quo
                referenceId:
                  type: string
                  description: ''
                  example: perspiciatis
              required:
                - recipientIds
                - title
                - message
                - refId
                - referenceId
      security: []
  /telegram/callback/menumessage/push:
    post:
      summary: 'Send Menu Messages to telegram client'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - fuga
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: nesciunt
                subTitle:
                  type: string
                  description: ''
                  example: id
                menuItems:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: ''
                        example: atque
                      title:
                        type: string
                        description: ''
                        example: eaque
                      payload:
                        type: integer
                        description: ''
                        example: 17
                    required:
                      - type
                      - title
                      - payload
                refId:
                  type: string
                  description: ''
                  example: nesciunt
                referenceId:
                  type: string
                  description: ''
                  example: rerum
              required:
                - recipientIds
                - title
                - subTitle
                - refId
                - referenceId
      security: []
  /telegram/callback/conversation/handle:
    post:
      summary: 'Revoke chat conversation from handover service'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - optio
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: nihil
                subTitle:
                  type: string
                  description: ''
                  example: ratione
                message:
                  type: string
                  description: ''
                  example: rerum
                refId:
                  type: string
                  description: ''
                  example: nemo
                referenceId:
                  type: string
                  description: ''
                  example: et
              required:
                - recipientIds
                - title
                - subTitle
                - message
                - refId
                - referenceId
      security: []
  /telegram/callback/conversation/pass:
    post:
      summary: 'Pass chat conversation to handover service'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - eos
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: et
                subTitle:
                  type: string
                  description: ''
                  example: recusandae
                message:
                  type: string
                  description: ''
                  example: exercitationem
                refId:
                  type: string
                  description: ''
                  example: magni
                referenceId:
                  type: string
                  description: ''
                  example: et
              required:
                - recipientIds
                - title
                - subTitle
                - message
                - refId
                - referenceId
      security: []
