openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://tgw.symplified.biz'
paths:
  /telegram/incoming:
    post:
      summary: 'Receive a newly incoming request from telegram client'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_query:
                  type: object
                  description: ''
                  example: []
                  properties:
                    message:
                      type: object
                      description: ''
                      example: []
                      properties:
                        chat:
                          type: object
                          description: ''
                          example: []
                          properties:
                            id:
                              type: integer
                              description: ''
                              example: 11
                        from:
                          type: object
                          description: ''
                          example: []
                          properties:
                            username:
                              type: string
                              description: ''
                              example: et
                        data:
                          type: string
                          description: ''
                          example: accusamus
                message:
                  type: object
                  description: ''
                  example: []
                  properties:
                    chat:
                      type: object
                      description: ''
                      example: []
                      properties:
                        id:
                          type: integer
                          description: ''
                          example: 9
                    from:
                      type: object
                      description: ''
                      example: []
                      properties:
                        username:
                          type: string
                          description: ''
                          example: repellat
                    data:
                      type: string
                      description: ''
                      example: deserunt
      security: []
  /telegram/callback/textmessage/push:
    post:
      summary: 'Sent a single text message to telegram client'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - dolore
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: sed
                subTitle:
                  type: string
                  description: ''
                  example: sed
                message:
                  type: string
                  description: ''
                  example: enim
                refId:
                  type: string
                  description: ''
                  example: quae
                referenceId:
                  type: string
                  description: ''
                  example: animi
              required:
                - recipientIds
                - title
                - message
                - refId
                - referenceId
      security: []
  /telegram/callback/menumessage/push:
    post:
      summary: 'Send Menu Messages to telegram client'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - saepe
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: facilis
                subTitle:
                  type: string
                  description: ''
                  example: aperiam
                menuItems:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: ''
                        example: a
                      title:
                        type: string
                        description: ''
                        example: veritatis
                      payload:
                        type: integer
                        description: ''
                        example: 17
                    required:
                      - type
                      - title
                      - payload
                refId:
                  type: string
                  description: ''
                  example: possimus
                referenceId:
                  type: string
                  description: ''
                  example: beatae
              required:
                - recipientIds
                - title
                - subTitle
                - refId
                - referenceId
      security: []
  /telegram/callback/conversation/handle:
    post:
      summary: 'Revoke chat conversation from handover service'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - error
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: in
                subTitle:
                  type: string
                  description: ''
                  example: aut
                message:
                  type: string
                  description: ''
                  example: doloribus
                refId:
                  type: string
                  description: ''
                  example: magnam
                referenceId:
                  type: string
                  description: ''
                  example: culpa
              required:
                - recipientIds
                - title
                - subTitle
                - message
                - refId
                - referenceId
      security: []
  /telegram/callback/conversation/pass:
    post:
      summary: 'Pass chat conversation to handover service'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipientIds:
                  type: array
                  description: ''
                  example:
                    - voluptatem
                  items:
                    type: string
                title:
                  type: string
                  description: ''
                  example: nemo
                subTitle:
                  type: string
                  description: ''
                  example: nisi
                message:
                  type: string
                  description: ''
                  example: numquam
                refId:
                  type: string
                  description: ''
                  example: fugiat
                referenceId:
                  type: string
                  description: ''
                  example: cum
              required:
                - recipientIds
                - title
                - subTitle
                - message
                - refId
                - referenceId
      security: []
